@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --azul-claro: #567c8d;
    --azul-escuro: #2f4156;
    --azul-clarissimo: #c8d9e6;
}

body {
    font-family: "Poppins", sans-serif;
    padding-top: 80px;
}
html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}
button {
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}



/* Nav */
nav {
    position: fixed;
    top: 0;         
    left: 0;        
    z-index: 1000;   
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-claro);
    padding: 0 5%;  
    height: 80px;   
    border-radius: 0 0 0 50px; 
}

.logo a {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.ul{
    display: flex;
    align-items: center;
}

.ul li{
    margin: 0 20px;
    font-size: 15px; 
}

.ul li a{
    color: white;
}
.ul .item-nav:hover{
    background-color: white;
    border-radius: 5px;
    color: var(--azul-escuro);
    width: 30px;
    font-size: 15px; 
    padding: 10px;
    transition: 0.3s;
}
.btn-config{
    width: 30px;
    height: 30px;
}
.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon img {
    width: 35px;
}
/* Final nav */
/* Seção mensagem */
.mensagem {
    padding: 50px 0;
    text-align: center;
}
/* Final seção mensagem */
/* Main */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
}
input {
    width: 100%;
    max-width: 900px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    margin: 0; 
    display: block;  
    margin-bottom: 20px;
}

.lista-consultas {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.consulta-item {
    background-color: white;
    border: 0.5px solid var(--azul-escuro);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.consulta-item:hover{
    transform: scale(1.04);
    background-color: rgb(240, 240, 240);
}
.consulta-item summary {
    padding: 20px;
    list-style: none;
    cursor: pointer;
    color: black;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-hora {
    font-size: 1.2rem;
    font-weight: 600;
}

.consulta-conteudo {
    background-color: rgba(238, 238, 238, 0.925);
    padding: 25px;
    color: var(--azul-escuro);
    border-top: 1px solid rgba(0,0,0,0.05);
    animation: slideDown 0.3s ease-out;
}

.consulta-conteudo p {
    margin-bottom: 12px;
    font-size: 1rem;
}

.consulta-conteudo strong {
    color: var(--azul-escuro);
    font-weight: 700;
}
.btn-editar{
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color:#4c9b64;
    color: white;
}
.btn-editar:hover{
    background-color: #366643;
    color: white;
    transition: 0.3s;
}
.btn-excluir{
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: #a02424;
    color: white;
}
.btn-excluir:hover{
    background-color: #d65555;
    color: #611515;
    transition: 0.3s;
}
.mobile-only {
    display: none;
}
/* Final main */
/* footer */
footer{
    background-color: var(--azul-escuro);
    padding: 50px;
}
footer .container{
    display: flex;
    color: white;
}
footer .container ul{
    width: 25%;
    text-align: center;
}
footer .container h3{
    margin-left: 10px;
    margin-bottom: 16px;
    font-weight: 600;
}
footer .container .redes-sociais img{
    margin-right: 10px;
}

footer .container li{
    margin: 10px 10px;
}
footer .container a{
    color: white;
}
/* Final footer */
/* Responsividade */


@media(max-width: 960px) {
    .menu-icon {
        display: block !important;
        z-index: 2001;
    }

    .ul {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        background-color: var(--azul-claro);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;
        z-index: 2000;
    }

    .ul.ativo {
        left: 0;
    }

    .ul li {
        margin: 20px 0;
    }

    .btn-login {
        display: none;
    }
    .mensagem {
        padding: 30px 20px;
    }

    .mensagem h1 {
        font-size: 24px;
    }

    .lista-consultas {
        width: 95%;
    }
    .data-hora {
        font-size: 1rem;
    }

    .consulta-conteudo {
        padding: 15px;
    }
    .consulta-conteudo button {
        width: 100%;
        margin-bottom: 10px;
    }
    footer .container {
        flex-direction: column;
        text-align: center;
    }

    footer .container ul {
        width: 100%;
        margin-bottom: 30px;
    }
    .mobile-only {
        display: block;
    }

    .ul li.mobile-only a {
        font-weight: 600;
        color: var(--azul-clarissimo);
    }
}
